<p id="notice"><%= notice %></p>

<h1>Listing Tasklists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasklists.each do |tasklist| %>
      <tr id="<%= dom_id(tasklist) %>">
        <td><%= tasklist.title %></td>
        <td><%= tasklist.description %></td>
        <td>
          <%= link_to 'List Items', tasklist_tasklist_items_path(tasklist) %>
          <%= link_to 'Show', tasklist %>
          <%= link_to 'Edit', edit_tasklist_path(tasklist) %>
          <%= link_to 'Destroy', tasklist, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tasklist', new_tasklist_path %>
