<h1><%= @tasklist.title %></h1>

<ul class="tasklist_items">
	<%= @tasklist.tasklist_items.each do |tasklist_item| %>
	<li id="<%= dom_id(tasklist_item) %>">
		<%= tasklist_item.content %>
		<%= link_to "Edit", edit_tasklist_tasklist_item_path(tasklist_item) %>
	</li>
	<% end %>
</ul>

<p>
	<%= link_to "New Tasklist Item", new_tasklist_tasklist_item_path %>
</p>